* {margin:0; padding: 0;}
#ss{
  text-align: center;
 position: absolute;
 font-size: 98px;
 top: 5vw;
 right: 40vw;
 overflow: hidden;
 color: blue;
}

#mainContainer{
 padding: 3rem 26rem 26rem 26rem;
}



body::-webkit-scrollbar {
   display: none;
 }

code{
background: #000;
color: green;
}